nav{
  text-align: center;
  padding: 15px 0;
  a{
    margin: 0 15px;
    padding-bottom: 2px;
    color: #919191;
    font-weight: 500;
    letter-spacing: .2pt;
    text-decoration: none;
  }
}

.content-wrapper{
  padding: 0 20px 20px;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 12vh auto;
}
