---
layout: default
---

<style>
  .nav__library{
    color: #da3877;
    border-bottom: 1.5px solid #da3877;
  }
</style>

<div class="wrap">
  <div class="row">

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="https://ingledow-2016.s3.amazonaws.com/public/img/library/ways-of-seeing.jpg" alt="John Berger – Ways of Seeing" />
      </div>
      <div class="library__book-title">Ways of Seeing<br />
      <span class="library__book-author">John Berger</span></div>
    </div>

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="https://ingledow-2016.s3.amazonaws.com/public/img/library/about-face.jpg" alt="Alan Cooper – About Face: The Essentials of Interaction Design" />
      </div>
      <div class="library__book-title">About Face<br />
      <span class="library__book-author">Alan Cooper et al.</span></div>
    </div>

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="https://ingledow-2016.s3.amazonaws.com/public/img/library/thoughtful-interaction-design.jpg" alt="thoughtful interaction design" />
      </div>
      <div class="library__book-title">Thoughtful Interaction Design<br />
      <span class="library__book-author">Jonas Lowgren and Erik Stolterman</span></div>
    </div>

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="https://ingledow-2016.s3.amazonaws.com/public/img/library/emotional-design.jpg" alt="emotional design" />
      </div>
      <div class="library__book-title">Emotional Design<br />
      <span class="library__book-author">Don Norman</span></div>
    </div>

  </div>
</div>
