---
layout: default
---

<style>
  .nav__library{
    color: #da3877;
    border-bottom: 1.5px solid #da3877;
  }
</style>

<div class="wrap">
  <div class="row">

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="http://cl.ly/0b391Y0f1i1r/ways-of-seeing.jpg" alt="John Berger – Ways of Seeing" />
      </div>
      <div class="library__book-title">Ways of Seeing<br />
      <span class="library__book-author">John Berger</span></div>
    </div>

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="https://cdn-images-1.medium.com/max/400/1*yfQqFoV39pWqJ3yt_JRl3Q.jpeg" alt="Alan Cooper – About Face: The Essentials of Interaction Design" />
      </div>
      <div class="library__book-title">About Face<br />
      <span class="library__book-author">Alan Cooper et al.</span></div>
    </div>

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="https://mitpress.mit.edu/sites/default/files/9780262622097.jpg" alt="" />
      </div>
      <div class="library__book-title">Thoughtful Interaction Design<br />
      <span class="library__book-author">Jonas Lowgren and Erik Stolterman</span></div>
    </div>

    <div class="col__3-12 col__md-6-12 col__sm-12-12 library__book-single">
      <div class="library__book-image__wrapper">
        <img class="library__book-image" src="http://ecx.images-amazon.com/images/I/41tEBlukEtL._SY344_BO1,204,203,200_.jpg" alt="" />
      </div>
      <div class="library__book-title">Emotional Design<br />
      <span class="library__book-author">Don Norman</span></div>
    </div>

  </div>
</div>
